<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href="/admin" class="brand-wrap">
      <img src="/admin-assets/imgs/theme/logo-black.svg" class="logo" alt="Nuclius Dashboard" />
    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item active">
        <a class="" href="/admin">
          <i class="icon material-icons md-home"></i>
          <span class="text" style="color: #000">Dashboard</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="" href="/admin/products">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text" style="color: #000">Products</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="" href="/admin/category">
          <i class="icon material-icons md-store"></i>
          <span class="text" style="color: #000">Categories</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="" href="/admin/orders">
          <i class="icon material-icons md-shopping_cart"></i>
          <span class="text" style="color: #000">Orders</span>
        </a>
      </li>

      <li class="menu-item has-submenu">
        <a class="" href="/admin/user">
          <i class="icon material-icons md-person"></i>
          <span class="text" style="color: #000">Users</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="" href="/admin/coupons">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text" style="color: #000">Coupons</span>
        </a>
      </li>
       <li class="menu-item has-submenu">
        <a class="" href="/admin/banners">
          <i class="icon material-icons md-store"></i>
          <span class="text" style="color: #000">Banners</span>
        </a>
      </li>
    </ul>
    <hr />
    <br />
    <br />
  </nav>
</aside>