<body>
  <div style="width:200px; height:100px; margin:100px;">
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="files" multiple/>
      <button type="submit">Upload</button>
    </form>
  </div>
</body>